body {
    margin: 0;
    display: flex;
    background-image: url(./images/background-image.jpg);
    background-size: cover;
    background-position: center;
    background-color: #000000;
    font-family: 'Pixelify Sans', sans-serif;
    justify-content: center;
    height: 100%;
  }
  #screen-frame {
    top: 10%;
    width: 80vw;
    height: 80vh;
    position: absolute;
    background-color: #d2c5a9;
    border-radius: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 30px outset rgba(255, 255, 255, 0.274);
    user-select: none;
    min-height: 800px;
    max-width: 1600px;

  }
  @media (max-width: 768px) {
    #screen-frame {
        width: 90vw;
        height: 90vh;
    }
}
  #screen-bevel {
    width: 75%;
    height: 75%;
    border-radius: 2%;
    border: 30px solid rgb(255, 255, 255);
    border-style: solid;
    border-width: 30px;
    border-top-color: #d6bf95;
    border-left-color: #f5deac;
    border-right-color: #ccbca1;
    border-bottom-color: #dad1ba;
    border-style: inset;
    overflow: hidden;
    z-index: 3;
    box-shadow: 2px 5px 5px #eadec2;
  }
  #bevel-emboss {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  #screen-glass {
    backdrop-filter: blur(1px) saturate(100%);
    -webkit-backdrop-filter: blur(0.1px) saturate(100%);
    /* background-color: rgba(255, 255, 255, 0.205); */
    position: absolute;
    width: inherit;
    height: inherit;
    z-index: 3;
    background-position: center;
    background-size: cover;
    mix-blend-mode: screen;
    background-image: url(./images/fingerprintglass4.jpg);
    user-select: none;
    pointer-events: none;
  }
  #content-div {
    background-color: #3b5740;
    width: 100%;
    height: 100%;
    z-index: 2;
    box-shadow: inset 0px 0px 20px 10px #3b3b3b8f;
  }
  
  /*------------SCREEN-------------------*/
  main {
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #000000;
    height: 100%;
    overflow: hidden;
    color: #061c17;
  }
  #content-div {
    background-color: #3b5740;
    width: 100%;
    height: calc(100% - 60px);
    z-index: 2;
    box-shadow: inset 0px 0px 20px 10px #3b3b3b8f;
    padding: 30px;
    display: flex;
    flex-direction: column;
  }
  
  section {
    display: flex;
    background-color: #aec47f;
    border: 5px solid #fffbd6;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .section-row1,
  .section-row2,
  .section-row3 {
    display: flex;
    width: 100%;
  }
  .section-row1 {
    margin-bottom: 30px;
    flex: 1;
    overflow: hidden;
  }
  .section-row2 {
    margin-bottom: 30px;
    flex: 3;
    overflow: hidden;
  }
  .section-row3 {
    flex: 2;
    overflow: hidden;
  }
  .div-large {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
  }
  
  .div-small {
    width: 30%;
    display: flex;
    flex-direction: column;
  }
  
  .div-complete {
    width: 100%;
  }
  h2 {
    margin: 0;
    padding: 5px;
    border-bottom: 2px solid #fffbd6;
  }
  
  #title-section {
    display: flex;
    flex-direction: column;
  }
  #title-section h1 {
    border-bottom: 2px solid #fffbd6;
    width: 100%;
    margin: 0;
    padding: 0px 25px;
    font-size:3vh;
  }
  @media (max-height: 800px) {
    #title-section h1{
        font-size: x-large;
    } 

  }
  @media (max-height:950px){
    #screen-frame{
        top:0;
    }

  }
  @media (max-height: 1080px){
    #bottom-logo {
        bottom: 10px !important;
    }
  }
  @media (max-width: 1200px) {
    #title-section h1{
        font-size: x-large;
    } 
    h2{
        font-size: medium;
    }
  }
  
  #title-section p,
  #chosen-section p,
  #meal-detail-section p {
    margin: 0;
    padding: 10px;
  }
  

  
  #search-by-section {
    display: flex;
    flex-direction: column; 
  }
  #search-div {
    flex-grow: 1; 
    overflow-y: auto; 
    padding: 20px; 
    gap: 20px;
    display: flex; 
    flex-wrap: wrap;
    justify-content: center; 
    align-content: start; 
    scrollbar-color: #aec47f #fffbd6;
    scroll-snap-type: both mandatory;
    scroll-snap-align: start;
  }
  #search-div img {
    height: 150px;
    width: 150px;
    filter: brightness(.7);
    /* background-color: red; */
    transition-duration: 500ms;
  }
  #search-div img:hover{
    filter: brightness(1);
  }
  #search-div p{
    text-align: center;
    margin: 0;
  }
  .img-selected{
    background-color: #fffbd6b8;
    border-radius: 50%;
    filter: brightness(1) !important;
  }
  #meal-select-section {
    display: flex;
    flex-direction: column;
  }
  #meal-select-section img {

    width: 100%;
    /* background-color: red; */

  }
  #meal-select-section p{
    position: relative;
    text-align: center;
    margin: 0;
    top: -50px;
    background-color: #fffbd6;

  }
  .meal-selected{
    filter: brightness(.6);
  }
  #meal-list {
    overflow-y: auto;
    scrollbar-color: #aec47f #fffbd6;
    scroll-snap-type: both mandatory;
    scroll-snap-align: start;
  }
  
  #meal-detail-section {
    display: flex;
  }
  
  h2 {
    text-align: center;
  }
  #nutrition-div {
    flex: 4;
    border-right: 5px solid #fffbd6;
  }
  #cost-div {
    flex: 3;
    border-right: 5px solid #fffbd6;
  }
  #synth-button-section {
    flex: 1;
    text-align: center;
  }
  #synth-button-div {
    display: flex; 
    justify-content: flex-start; 
    flex-direction: column; 
    height: 100%; 
    padding: 15px;
  }
  
  #synth-button-div button {
    color: #061c17;
    background-color: #aec47f;
    border: 5px solid #fffbd6;
    padding: 10px;
    border-radius: 5px;
    margin: 2px auto;
    width: 100%;
    transition-duration: 500ms;
  }
  #synth-button-div button:hover{
    background-color: #e4f1c9;
  }
  
  .highlight-button {
    font-weight: bold;
    color: #e4f1c9 !important;
    background-color: #db345e !important;
    animation: pulse 1s infinite;
    cursor: pointer;
  }
  
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

  #upaPayModal {
    text-align: center;
    background-color: #aec47f;
    width: 400px;
    padding: 40px;
    border-radius: 8px;
    border: 5px solid #fffbd6;
    box-shadow: rgba(0, 0, 0, 0.766) 0px 0px 0px 3000px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #upaPayModal label {
    font-size: large;
    display: block;
    height: 50px;
  }
  #upaPayModal input {
    background-color: #aec47f;
    border: 3px solid #fffbd6;
    border-radius: 5px;
    padding: 10px;
    width: 80%;
  }
  #upaPayModal button {
    border-radius: 5px;
    padding: 10px;
    background-color: #fffbd6;
    border: 3px solid black;
    color: black;
  }
  #upaPayModal button:hover {
    background-color: #ebe182;
  }
  .modal-close{
    display: none;
  }
  #error-message-span {
    color: #db345e;
  }
  #bottom-logo {
    position: absolute; 
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    max-height: 50px;
    width: auto;
}

@keyframes flickerAnimation {
    0% { filter: brightness(100%); }
    50% { filter: brightness(50%); }
    100% { filter: brightness(100%); }
  }
  
  .flicker {
    animation-name: flickerAnimation;
    animation-duration: 0.1s;
    animation-timing-function: ease-out;
  }